# OS/editor junk
.DS_Store
*~
*.elc
*conflicted*
*conflicted copy*

# Emacs state/caches
auto-save-list/
backups/
eln-cache/
eshell/
url/
transient/
request/
var/
.cache/
.extension/
elpa/
cider-history
projectile.cache
tutorial

# Session/state files
.recentf*
.smex-items*
ido.last*
projectile-bookmarks*.eld
.lsp-session-v1
places
tramp
network-security.data
.dap-breakpoints

# Databases
forge-database*.sqlite

# State files
.mc-lists.el
bebop-state.json
bebop-mr-cache.json
code-review-db-file.sqlite
code-review-error.log

# Local overrides
customizations/local.el

# Misc
.emacs.d
